@import "../scss-utils/variables";
@import "../scss-utils/mixins";

.btn {
	@include text($font-size-m, inherit, inherit, 600);
	padding: 1.5rem 3rem;
	border-radius: $radius-xsmall;
	border: 1px solid;
	margin: 2rem;
	&:hover {
		transition: $transition-fast;
	}
}
.dark-btn {
	color: $clr-primary-yellow;
	border-color: $clr-primary-yellow;
	@include btn-hover-drk;
}
.light-btn {
	color: $clr-navy-purlple;
	background: $clr-primary-yellow;
	@include btn-hover;
}

@media screen and (max-width: 768px) {
	.btn {
		margin: 0.5rem;
	}
}
